<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hodoan.device_kit_lib">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
  <application>
    <service
      android:name=".DeviceKitAccessibilityService"
      android:exported="true"
      android:label="Device Kit Accessibility"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/device_kit_accessibility_service" />
    </service>
    <service
      android:name=".MediaProjectionCaptureService"
      android:exported="false"
      android:foregroundServiceType="mediaProjection" />
  </application>
  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent>
  </queries>
</manifest>
